@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h4 class="display-4">What would you like to do ?</h4>

    <a href="/TransportOrder/Index" class="btn btn-primary btn-lg" role="button">Create Transport Order</a>
    <a href="/Administration/ViewAdministration" class="btn btn-secondary btn-lg" role="button">View Invoices</a>
    <a href="/AppAdministration" class="btn btn-secondary btn-lg" role="button">Admin Tasks</a>

</div>
